/*
hero and footer dark background color
#1f2937

hero main text 
48px extra bold #f9faf8

hero secondary text, header link text
18px normal #e5e7eb

header logo text
24px extra bold #f9faf8

--

button color, call to action background color
#3882f6

information header text
36px extra bold #1f2937

--

quote section background color
#e5e7eb

quote text
36px light italic #1f2937

*/

.navbar {
  display: block;
  height: 500px;
  line-height: 500px;

}

/* Remove bullets, margin and padding */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  float: right;
}

/* Define the block styling for the links */
.navbar li a {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  color:red;
}



