/*
hero and footer dark background color
#1f2937

hero main text 
48px extra bold #f9faf8

hero secondary text, header link text
18px normal #e5e7eb

header logo text
24px extra bold #f9faf8

--

button color, call to action background color
#3882f6

information header text
36px extra bold #1f2937

--

quote section background color
#e5e7eb

quote text
36px light italic #1f2937

*/

*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero {
  position: relative;
  background: url('https://images.pexels.com/photos/2570062/pexels-photo-2570062.jpeg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black color with 60% opacity */
  z-index: 1; /* Ensure the overlay is behind the content */
}

.hero-content {
  text-align: center;
  color: #fff;
  z-index: 2; /* Ensure the content is on top of the overlay */
}

.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease-in-out 0.5s;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}





/* Navigation */
.navigation-header {
  background-color: rgb(73, 51, 153);
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container > a {
  color: ghostwhite;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}
.navigation-items {
  display: flex;
  gap: 40px;
}
.navigation-items > a {
  color: ghostwhite;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: .4s ease-in-out;
}
.navigation-items > a:hover {
  color: red;
}
